@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.bg-white {
  background-color: #fff;
}

.bg-purple {
  background-color: #9900FF !important;
}

.bg-gradient {
  background: linear-gradient(189deg, #eedafd 19%, #ede6f2 71%, #f3cbee 96%) !important;
}

.bg-transparent {
  background-color: transparent;
}

.bg-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.bg-shadow-2 {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.bg-transparent {
  background-color: transparent !important;
}

.rounded10 {
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-size: 87.5%;
  line-height: 1.3em;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1200px) {
  body {
    font-size: 100%;
  }
  p {
    line-height: 1.25em;
  }
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  filter: opacity(80%);
  color: unset;
}

h2 {
  font-size: 1.625em;
  line-height: 1.38461538461538em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.33em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.6em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.33em;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
}

.textjustify {
  text-align: justify;
  text-justify: inter-word;
  -ms-text-align-last: center;
  text-align-last: center;
}

.btn {
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  filter: opacity(80%);
}

.btn-primary {
  background-color: #9900FF;
}

.btn-primary:hover {
  background-color: #9900FF;
}

.btn-white {
  background-color: #fff;
}

.btn-white:hover {
  background-color: #fff;
}

input,
textarea,
select,
label,
.form-control::-webkit-input-placeholder {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-group .form-label {
  margin-bottom: 0.75em;
}

.form-group .form-select {
  border: 2px solid #9900FF;
}

.title-section {
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 1.625em;
  line-height: 1.38461538461538em;
  font-weight: 500;
}

@media (min-width: 992px) {
  .title-section {
    font-size: 2.25em;
  }
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #262626 !important;
}

.text-light {
  color: #989797 !important;
}

.text-purple {
  color: #9900FF;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 600;
}

.navbar {
  height: 60px;
  /*padding: 0;*/
}

.navbar .container {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  height: 100%;
}

.navbar .container .navbar-brand {
  height: 100%;
  width: 44px;
}

.navbar .container img {
  position: absolute;
  top: 50%;
  height: 44px;
  width: 44px;
  transform: translateY(-50%);
  display: block;
}

.pagination a {
  font-size: unset !important;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 1em 0;
  }
  .navbar .container .navbar-brand img {
    width: 68px;
    height: 68px;
  }
}

.offcanvas .offcanvas-header {
  padding: 0;
  height: 60px;
  position: relative;
}

.offcanvas .offcanvas-header .navbar-brand {
  height: 100%;
  width: auto;
}

.offcanvas .offcanvas-header img {
  position: absolute;
  top: 50%;
  padding: 8px 0;
  height: 100%;
  /* width: 100%; */
  transform: translateY(-50%);
  display: block;
}

@media (min-width: 1200px) {
  .navbar {
    height: 100px;
  }
}

.navbar-nav li a {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  position: relative;
}

.navbar-nav li a .text {
  position: relative;
  display: inline-block;
  line-height: 26px;
}

.navbar-nav li a .text:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #262626;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
}

.navbar-nav li a.active {
  color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-nav li a.active > .text:after {
  width: 100%;
}

.navbar-nav li:hover > a > .text:after {
  width: 100%;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #989797;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15) !important;
}

.dropdown-menu li a {
  text-transform: capitalize;
  font-weight: 400;
}

.dropdown-menu li:hover {
  background-color: #e5e5e5 !important;
}

.dropdown-submenu {
  position: relative;
  overflow: none;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  margin-top: -1px;
  left: 100%;
}

.dropdown-submenu .dropdown-menu li a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal !important;
}

@media (min-width: 992px) {
  .multi-drop .dropdown-toggle::after {
    border-top: 0.3em solid transparent !important;
    border-right: 0 !important;
    border-bottom: 0.3em solid transparent !important;
    border-left: 0.3em solid !important;
    vertical-align: 0;
    margin-left: 0.5em;
  }
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.big-title {
  margin-bottom: 0.5em;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.625em;
  line-height: 1.38em;
}

@media (min-width: 576px) {
  .big-title {
    font-size: 1.75em !important;
  }
}

@media (min-width: 992px) {
  .big-title {
    font-size: 2.25em !important;
    margin-bottom: 0.75em;
  }
  .big-desc {
    margin-bottom: 1.5em;
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

@media (min-width: 1200px) {
  .big-title {
    font-size: 2.5em !important;
  }
  .big-desc {
    font-size: 1.5em;
    line-height: 1.25em;
  }
}

.masthead {
  padding-top: 60px;
  background: linear-gradient(189deg, #eedafd 19%, #ede6f2 71%, #f3cbee 96%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  box-sizing: border-box;
}

.masthead .image-wrappper {
  overflow: hidden;
}

.masthead .image-wrappper img {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .masthead .image-wrapper {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .masthead .text-wrapper {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .masthead {
    padding-top: 100px !important;
  }
}

.transparant {
  background: none;
}

.navbar.scroll {
  background-color: #fff;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler .icon-bar {
  position: relative;
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
  background-color: #9900FF;
  transition: all 500ms ease-in-out;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  top: 3px;
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  top: 6px;
}

.navbar-toggler:focus, .navbar-toggler .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler.active .icon-bar:nth-of-type(1) {
  top: 3px;
  transform: rotate(45deg);
}

.navbar-toggler.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggler.active .icon-bar:nth-of-type(3) {
  top: -3px;
  transform: rotate(-45deg);
}

.navbar-nav li a {
  color: #262626;
}

.offcanvas.show {
  top: 0;
  left: 0;
}

@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
    justify-content: end;
    color: red;
  }
}

@media (max-width: 992px) {
  .offcanvas {
    width: 75% !important;
  }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
  }
}

section {
  padding: 48px 0;
}

@media (min-width: 1200px) {
  section {
    padding: 82px 0;
  }
}

.content {
  padding: 32px 24px;
  border-radius: 25px;
}

.content img {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .content {
    padding: 40px 32px;
  }
}

@media (min-width: 1200px) {
  .content {
    padding: 48px 40px;
  }
}

@media (min-width: 1200px) {
  .content img {
    width: 100%;
  }
}

#dataWilayah .content {
  background: linear-gradient(276deg, #e606ff 26%, #a107f5 75%);
}

#dataWilayah img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #dataWilayah img {
    width: 50%;
  }
}

.copyright {
  font-size: 0.75em;
}

@media (min-width: 768px) {
  .copyright {
    font-size: 0.85em;
  }
}

.medsos {
  margin: 16px 0;
  list-style: none;
  padding: 0;
}

.medsos li {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}

.medsos li a {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.medsos li a .icon {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
}

.medsos li a.medsos-fb {
  color: #3b5998;
}

.medsos li a.medsos-twitter {
  color: #1DA1F2;
}

.medsos li a.medsos-youtube {
  color: #E62219;
}

.medsos li a.medsos-ig {
  color: #e4405f;
}

.medsos li:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.medsos li:hover a {
  color: #fff;
}

.medsos li:hover a.medsos-fb {
  background-color: #3b5998;
}

.medsos li:hover a.medsos-twitter {
  background-color: #1DA1F2;
}

.medsos li:hover a.medsos-youtube {
  background-color: #E62219;
}

.medsos li:hover a.medsos-ig {
  background-color: #e4405f;
}

@media (min-width: 1200px) {
  .medsos {
    margin: 32px 0;
  }
}

.bg-content {
  background-color: #9900FF;
  margin-top: 60px;
  padding: 24px 0;
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  .bg-content {
    padding: 48px 0;
    margin-bottom: 48px;
  }
}

@media (min-width: 1200px) {
  .bg-content {
    margin-top: 100px;
    padding: 64px 0;
    margin-bottom: 64px;
  }
}

.form-pilihDesa {
  background-color: #fff;
  padding: 32px 32px 64px 32px;
}

@media (min-width: 768px) {
  .form-pilihDesa {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .form-pilihDesa {
    width: 50%;
    padding-bottom: 124px;
  }
}

.search-wrapper {
  background-color: #fff;
  padding: 48px;
  border-radius: 15px;
}

.search-wrapper .card-pd {
  margin: 24px 0;
  padding: 12px;
}

@media (min-width: 992px) {
  #cariDesa .body-content .input-group {
    width: 50% !important;
  }
}

.img-profil {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 25px;
  filter: grayscale(75%);
  box-shadow: 2px 5px 10px 1px #e2ccbd;
}

.img-profil:hover {
  filter: unset;
  cursor: pointer;
}

@media (min-width: 992px) {
  .img-profil {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .img-profil {
    width: 250px;
    height: 250px;
  }
}

.carousel-indicators {
  margin: 0;
  bottom: 15%;
}

.carousel-indicators [data-bs-target] {
  margin: 0 5px;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}

.carousel-inner .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 0 16px;
}

.carousel-inner .carousel-caption .big-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (min-width: 576px) {
  .carousel-inner .carousel-caption .big-desc {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .carousel-inner .carousel-item img {
    width: 100%;
  }
}

.img-desa img {
  width: 50%;
}

#deskripsiDesa {
  padding-top: 7.5em;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
}

.team-name {
  text-transform: capitalize;
}

.team-desc {
  color: #9900FF;
  text-transform: capitalize;
}

.masthead2 {
  background: linear-gradient(189deg, #eedafd 19%, #ede6f2 71%, #f3cbee 96%);
  height: 100vh;
  margin-bottom: 48px;
}

.masthead2 .container {
  position: relative;
  height: 100%;
}

.masthead2 .container .banner-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.masthead2 .container .banner-wrap .image-wrapper {
  width: 75%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .masthead2 .banner-wrap .image-wrapper {
    padding-left: 15%;
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .masthead2 {
    padding-top: 120px !important;
    margin-bottom: 82px;
  }
}

.carousel-slide {
  height: 100%;
  width: 100%;
}

.carousel-slide .carousel-inner {
  width: 100%;
}

.carousel-slide .carousel-inner .carousel-item {
  position: relative;
  height: 100%;
}

.carousel-slide .carousel-inner .carousel-item .img-desktop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#potensiDesa {
  background: linear-gradient(270deg, #e0cdeb 0%, #f0f0f0 55%);
  margin-bottom: 48px;
}

#potensiDesa .pd-white {
  background: none;
  background-color: #E5E5E5 !important;
}

@media (min-width: 1200px) {
  #potensiDesa {
    margin-bottom: 82px;
  }
}

.pdfobject-container {
  height: 800px;
}

#pdfview a {
  color: yellow;
  font-weight: 600;
  text-decoration: underline;
}

.img-detail {
  height: 200px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .img-detail {
    height: 300px;
  }
}

.trending-wrap {
  padding: 20px 0;
  border: 2px solid red;
}

.trending-wrap .label-wrap {
  background-color: green;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  width: auto;
  display: block;
}

.trending-wrap .label-wrap .icon:before {
  margin-right: 10px;
}

.fa.fa-search {
  color: #9900FF;
  font-size: 1.3rem;
}

.img-potensi img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .img-potensi img {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .img-potensi img {
    height: 600px;
  }
}

.list-search .img-search {
  height: auto;
}

.list-search .img-search img {
  display: block;
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
}

.list-search .img-search .text-search a:hover {
  color: #000 !important;
}

@media (min-width: 768px) {
  .list-search .img-search img {
    width: 150px;
    height: 100px;
  }
}

.find {
  color: #9900FF;
  font-weight: 800;
}

.pagination li a.active {
  background-color: transparent !important;
  color: #9900FF !important;
}

.pagination li a:hover {
  background-color: #9900FF;
  color: #fff;
}

section.leaflet-control-layers-list {
  padding: 0 !important;
}

.detail-map .container {
  width: 100% !important;
}

.detail-map {
  padding-top: 0px !important;
}

#map-main {
  border-radius: .8rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05), 0 4px 24px 0 rgba(0, 0, 0, 0.1);
  height: 600px;
}

@media (min-width: 992px) {
  #map-main {
    height: 100%;
  }
}

.countryLabelKecamatan {
  background: transparent !important;
  border: 0 !important;
  border-radius: 0px !important;
  box-shadow: 0 0px 0px !important;
  font-size: 9px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #87328a !important;
  font-weight: bold !important;
}

.countryLabelKecamatanSm {
  background: transparent !important;
  border: 0 !important;
  border-radius: 0px !important;
  box-shadow: 0 0px 0px !important;
  font-size: 10px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  color: #87328a !important;
  font-weight: bold !important;
}

.leaflet-popup-content {
  width: auto !important;
}

.ex img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  position: static;
}

.sm-img img {
  height: 75px !important;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .ex img {
    height: 300px;
  }
  .sm-img img {
    height: 150px !important;
  }
}

.logo {
  font-size: 1.5rem;
}

thead tr th {
  background-color: #9900FF !important;
  color: #fff;
  border: 1px solid white;
  vertical-align: middle;
}

th, td {
  padding: 10px !important;
}

.list-potensi {
  position: relative;
  display: block;
  margin: 10px 0;
}

.list-potensi img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.list-potensi .hover-potensi {
  visibility: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 100%;
  transition: opacity 0.7s;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-transform: uppercase;
}

.list-potensi .hover-potensi h3 {
  width: 100%;
}

.list-potensi .hover-potensi button {
  text-transform: capitalize;
}

.list-potensi:hover .hover-potensi {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .list-potensi {
    max-height: 300px;
    box-shadow: 10px 14px 20px 0px #e2ccbd;
    padding: 10px;
    margin: 5px;
  }
  .list-potensi .hover-potensi {
    top: 10px;
    height: calc(100% - 20px);
  }
  .list-potensi .img-1,
  .list-potensi .img-5 {
    width: 10%;
    height: unset;
  }
  .list-potensi .img-2,
  .list-potensi .img-6 {
    width: 50%;
    height: unset;
  }
  .list-potensi .img-3,
  .list-potensi .img-4 {
    width: 30%;
    height: unset;
  }
  .list-potensi img {
    height: 100%;
  }
}
